<!DOCTYPE html>
<html>
	<head th:replace="~{base :: head}"></head>
	
<body>
	
	<div th:replace="~{base :: menu}"></div>
	
	<div >
		<h1>Todos as Operações</h1>
		
		<div id="listaContratos">
		
			<table class="ml-2 mr-2 table table-striped table-hover">
				<tbody>
					<tr class="table-info">		
						<th>Operação</th>						
						<th>Siconv</th>
						<th>Tomador</th>
						<th>Programa</th>
						<th>Objeto</th>
					</tr>
					<tr th:each="contrato : ${listaContratos}">
						<td> 
							<span th:text="${contrato.numeroOperacao}"></span>
							<span>-</span>
							<span th:text="${contrato.dvOperacao}"></span>
						</td>
						<td th:text="${contrato.numeroSiconv}"></td>
						<td th:text="${contrato.tomadorOperacao.nome}"></td>
						<td th:text="${contrato.empreendimento.programa.nome}"></td>
						<td th:text="${contrato.empreendimento.objeto}"></td>
					</tr>
				</tbody>				
				  
			</table>
			
		
		</div>
		
	</div>

	
	<div th:replace="~{base :: scripts}"></div>

	<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
	<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
	
</body>

<footer th:replace="~{base :: footer}"></footer>

</html>