<!DOCTYPE html>
<html>
	<head th:replace="~{base :: head}"></head>
	
<body>
	
	<div th:replace="~{base :: menu}"></div>
	
	<div class="container">
		<h1>Bem Vindos!</h1>
		
		<div>
			<br>
			<div class="row row-cols-1 row-cols-md-2 g-4">
				<div class="col" th:each="resumo : ${resumos}">
					<div class="card">
						<div class="card-header">
							<a style="text-decoration:none" th:href="@{'/contratos/' + ${resumo.regra.url}}" th:text="${resumo.regra.descricao}"></a>
						</div>
						<span
							class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger"
							th:text="${resumo.quantidade}">99+</span>

						<div class="card-body">
							<div class="progress">
								<div th:class="'progress-bar ' 
										+ ${resumo.percentual <= 25 ? 'bg-success ' : ''} 
										+ ${resumo.percentual > 25 && resumo.percentual <= 50 ? 'bg-info ' : ''}
										+ ${resumo.percentual > 50 && resumo.percentual <= 75 ? 'bg-danger ' : ''} "
									role="progressbar"
									th:style="'width:' + ${resumo.percentual} + '%'"
									aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
							</div>
						</div>
					</div>
				</div>
			</div>
			
		</div>
		
	</div>

	
	<div th:replace="~{base :: scripts}"></div>

</body>

<footer th:replace="~{base :: footer}"></footer>

</html>