<!DOCTYPE html>
<html>
<head th:replace="~{base :: head}"></head>

<body>

	<div th:replace="~{base :: menu}"></div>

	<div class="container">
		<div class="card shadow mb-4">
			<div class="cabecalho-azul card-header py-3">
				<h6 class="mb-0">Atualizar <span th:text="${sTipoUpload}">Operações</span></h6>
			</div>

			<div class="card-body">				
				<form th:action="@{/upload}" class="card-body" method="POST" enctype="multipart/form-data">
					<div class="row">
						<div class="col">Atenção! O arquivo deve estar no formato "*.xlsx" (Excel
							2003 ou acima).
							<p>
							O arquivo deve estar no formato da opção escolhida.
							</p>
						</div>
						<input type="hidden" th:name="tipoUpload" th:value="${tipoUpload}" />
						<div class="row mb-4">
							<div class="col">
								<input class="btn" name="arquivo" type="file" required>								
							</div>
							<div class="col" th:classappend="${tipoUpload == 'demanda' ? 'visible' : 'invisible'}">
								<div>
									Selecione uma Unidade:
								</div>
								<select th:name="idUnidadeEscolhida" class="form-select" aria-label="Default select example" 
									th:required="${tipoUpload == 'demanda' ? 'true' : 'false'}">
									<th:block th:each="unidade: ${unidades}">
										<option th:value="${unidade.id}" th:text="${unidade.nome}">One</option>
									</th:block>									
								</select>
							</div>
						</div>					
						<hr />
					</div>
					<div>						
						<button class="btn btn-primary" type="submit">Enviar</button>
					</div>
				</form>
			</div>
		</div>
	</div>


	<footer th:replace="~{base :: scripts}"></footer>

</body>

<footer th:replace="~{base :: footer}"></footer>
</html>